.contact {
  background-color: #424242;
  color: var(--main-gray);
  font-size: 14px;
}

.contact ul li {
  display: inline-block;
  margin-right: 20px;
}

.contact a {
  color: var(--main-gray);
}

.contact a:focus {
  color: var(--main-gray);
}

.social a:hover {
  color: var(--theme-color);
}

.email-phone-icon {
  margin-right: 20px;
}

.social {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .contact {
    font-size: 16px;
  }

  .contact-flex-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .social {
    margin-bottom: 0px;
  }
}
