* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1203px;
  margin: 0 auto;
  padding: 15px;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--theme-color);
}

.center-button {
  text-align: center;
  margin-top: 100px;
}

button {
  background-color: var(--theme-color);
  padding: 20px;
  width: auto;
  text-transform: uppercase;
  color: var(--white);
  border: transparent;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover);
}

h1 {
  text-align: center;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: normal;
}

h3 {
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
  font-weight: normal;
}

h3 span {
  color: var(--theme-color);
}

h2 {
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.paragraph {
  text-align: center;
  margin-top: 15px;
}

h4 {
  text-transform: uppercase;
  font-size: large;
  margin-top: 15px;
}

p {
  margin-top: 15px;
}

h5 {
  text-transform: uppercase;
  font-size: large;
  margin-top: 30px;
}

/* .designs {
  border: 1px solid var(--main-gray);
  margin: 10px auto;
  font-size: large;
  padding: 30px;
  text-align: center;
} */

ul li {
  list-style: none;
}

.graphics__image {
  display: flex;
  flex-wrap: nowrap;
}

/* p{
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}*/

.number li {
  color: var(--white);
}

.number {
  text-align: center;
}
.numbers {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}

.contest {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}

.black {
  background-color: var(--black);
  padding: 70px;
}

.black__theme {
  display: flex;
  justify-content: space-around;
}

.red {
  text-align: center;
  margin-bottom: 15px;
}

/* .designs ul{
  display: flex;
} */

.red-line {
  margin-top: 15px;
}

.class {
  text-align: center;
}

.fa-coffee,
.fa-tv,
.fa-sticky-note {
  color: var(--main-gray);
  font-size: 30px;
  margin-top: 15px;
}

.video-image {
  margin-top: 15px;
  max-width: 100%;
}

.graphics__photos {
  display: flex;
  flex-wrap: wrap;
}

.testimoial__paragraph-theme {
  text-align: center;
}

.testimonial__fparagraph,
.testimonial__sparagraph {
  background-image: url(../images/testimonial.png);
  padding: 30px;
  margin: 25px;

  text-align: center;
}

/* .testimonial__container {
  display: flex;
  flex-wrap: nowrap;
} */

.writer {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15px;
}

.rating {
  margin-top: 15px;
}

.arrow-icons {
  color: black;
  font-size: 50px;
  text-align: center;
}

.ads__images {
  display: flex;
  justify-content: space-around;
  margin-top: 50px 0 20px 20px;
  max-width: 100%;
}

.dollar {
  color: var(--theme-color);
}

.emailbox {
  display: flex;
  justify-content: flex-end;
}

.submit {
  display: flex;
  flex-wrap: nowrap;
}

#email {
  border: 1px solid #eeeeee;
  padding: 20px;
  margin-left: 10px;
}

.submit {
  border-bottom: 3px solid var(--theme-color);
  padding: 20px;
}

.fa-star {
  color: var(--theme-color);
}

.gray-star {
  color: var(--main-gray);
}

.fa-caret-right {
  color: var(--main-gray);
}

#name,
#mail {
  padding: 10px;
}
form input {
  display: block;
  margin-bottom: 10px;
}
form button {
  padding: 15px 65px;
}
.final__lists ul li {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--main-gray);
}

.final__header {
  display: inline-block;
}

.final-container {
  display: flex;
  flex-wrap: wrap;
}
.navmenu__flex {
  display: flex;
}

.copyright {
  color: var(--white);
  background-color: var(--black);
  display: flex;
  flex-wrap: nowrap;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 420px) {
  .black__theme {
    display: block;
  }

  .graphics__photos {
    display: block;
  }
}

@media (max-width: 900px) {
  .ads__images {
    display: block;
    text-align: center;
  }

  .ads__partners {
    padding: 20px;
  }
}
