* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1203px;
  margin: 0 auto;
  padding: 15px;
}

/* Banner */

a {
  text-decoration: none;
}

a:hover {
  color: var(--theme-color);
}

.key,
.profile {
  margin-right: 15px;
}

.center-button {
  text-align: center;
  margin-top: 30px;
}

.center-button button {
  background-color: var(--theme-color);
  padding: 20px;
  width: auto;
  text-transform: uppercase;
  color: var(--white);
  border: transparent;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover);
}

h1 {
  text-align: center;
  margin: 70px 0;
  text-transform: uppercase;
  font-weight: normal;
}

h3 {
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
  font-weight: normal;
}

h3 span {
  color: var(--theme-color);
}

/* Banner */

/* box-container */

h2 {
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h4 {
  text-transform: uppercase;
  font-size: large;
  margin-top: 15px;
}

.paragraph {
  margin-top: 15px;
  text-align: center;
}

.services {
  padding: 25px;
}

.services ul,
.services ul li {
  margin-top: 20px;
}

.services ul li {
  text-align: center;
}

.services .service__card {
  padding: 20px;
  margin: 10px 0;
  border: 1px solid var(--main-gray);
}

@media (min-width: 768px) {
  .services {
    padding: 50px 0;
  }

  .services ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .services .service__card {
    width: 49%;
  }
}

/* Box-container */

/* Graphics Designing */

.heading {
  margin-top: 30px;
}

.coffee,
.tv,
.sticky-note {
  color: var(--main-gray);
  font-size: 30px;
  margin: 15px 0;
}

.icon-heading {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .graphics__unordered {
    display: flex;
  }

  .graphics__listing ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .graphics__listing {
    margin-top: 20px;
  }

  .graphics__listing ul li div {
    margin-left: 10px;
  }

  .icon-paragraph {
    margin-top: 20px;
  }
  .coffee,
  .tv,
  .sticky-note {
    margin: 20px 5px;
  }
}

.video-image {
  margin-top: 15px;
  max-width: 100%;
  padding: 20px;
}

/* Graphics designing */

/* Graphics pictures */

.left-arrow,
.right-arrow {
  background-color: var(--black);
  color: var(--white);
  margin-left: 5px;
  padding: 10px;
}

.left-arrow:hover {
  background-color: var(--theme-color);
}

.right-arrow:hover {
  background-color: var(--theme-color);
}

h5 {
  margin-bottom: 10px;
  font-size: 20px;
}

.graphics__photos {
  margin-top: 15px;
}

.graphics-pictures {
  background-color: #f7f7f7;
  box-sizing: border-box;
}

.center-button {
  margin-top: 70px;
}

@media (min-width: 768px) {
  .graphics__flex {
    display: flex;
    justify-content: space-between;
  }
  h5 {
    font-weight: 400;
    font-size: 30px;
  }

  .graphics__photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 100%;
  }

  .center-button {
    margin-top: 70px;
  }

  .arrows {
    margin-top: 25px;
  }
}

/* Graphics pictures */

/* Testimonials */

.testimonial__text {
  background-image: url(../images/testimonial.png);
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin: 25px;
  text-align: center;
}

.testimoial__paragraph-theme {
  text-align: center;
}

.writer {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15px;
  text-align: center;
}

.rating {
  margin-top: 15px;
}

.arrow-icons {
  margin: 50px 0;
  text-align: center;
}

.arrow-left,
.arrow-right {
  background-color: black;
  color: var(--white);
  padding: 10px;
}

.fa-star {
  color: var(--theme-color);
}

.gray-star {
  color: var(--main-gray);
}

.fa-caret-right {
  color: var(--main-gray);
}

/* Testimonials */

/* advertisement */

.ads__images {
  display: flex;
  justify-content: space-around;
  margin: 50px 0 60px 20px;
  max-width: 100%;
}

.advertisement {
  background-color: #f7f7f7;
}

img {
  max-width: 100%;
}

h4 {
  font-weight: 400;
}

.offer span {
  color: var(--theme-color);
}

.offer__coupon p {
  text-transform: uppercase;
  color: #666666;
  font-weight: 600;
  margin-top: 5px;
}

.submit form input {
  font-size: 14px;
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  border: 1px solid var(--main-gray);
}

.email-button {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--theme-color);
  border: transparent;
}

@media (min-width: 768px) {
  .submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .offer form {
    width: 60%;
  }

  .email-button {
    width: 28%;
    text-transform: uppercase;
    background-color: var(--theme-color);
    color: var(--white);
    border-color: transparent;
    padding: 11px;
  }

  .submit form input {
    width: 70%;
    margin: 0px;
  }
}

/* Final */

.goto-top-button {
  text-align: end;
  border-top: 3px solid var(--theme-color);
}

.goto-top {
  padding: 10px;
  background-color: var(--theme-color);
  color: var(--white);
  border: transparent;
  text-align: end;
}

.final__paragraph {
  margin-bottom: 20px;
}
.social-icons {
  color: var(--main-gray);
}

.final__iconlinks ul {
  display: flex;
  flex-wrap: nowrap;
}

.final__iconlinks ul a:hover {
  color: var(--white);
}

.final__iconlinks ul li {
  padding: 8px 12px;
  border: 1px solid var(--main-gray);
  margin-right: 10px;
}

.final__iconlinks ul li:hover {
  background-color: var(--theme-color);
}

.final__lists ul li {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--main-gray);
}

.final__header {
  margin-top: 50px;
}

.final__header ul li span {
  margin-left: 23px;
}

.final__lists ul li {
  margin-top: 10px;
}

.final__header ul li a {
  color: var(--main-gray);
}

.final__header ul li a:hover {
  color: var(--theme-color);
}

.final__header ul li .pointer:hover {
  color: var(--theme-color);
}

.final__lists {
  margin-top: 20px;
}

.final__header p {
  margin: 20px 0px;
}

#name,
#mail {
  display: block;
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 8px;
  margin-top: 10px;
  border: 1px solid var(--main-gray);
}

.sign-in {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--theme-color);
  border: transparent;
}

.copyright {
  color: var(--white);
  background-color: var(--black);
}

@media (max-width: 420px) {
  .black__theme {
    display: block;
  }

  .graphics__photos {
    display: block;
  }
}

@media (max-width: 900px) {
  .ads__images {
    display: block;
    text-align: center;
  }

  .ads__partners {
    padding: 20px;
  }
}
